<h1>MID-MERCH</h1>


<hr/>
<div class="alert alert-primary" role="alert">
There are <%= @products.count %> products and counting!
</div>
<hr/>


<% @products.each do |product| %>
<ul class="list-group">
    <li class="list-group-item"><strong><%=product.title%></strong>:</li>
    <li class="list-group-item"><%= image_tag(product.image, width: 200)%></li>
    <li class="list-group-item"><%=product.description%></li>
    <li class="list-group-item">costs $<%=product.price%> dollars</li>
    <li class="list-group-item"><%=product.quantity%> left!</li>
    <li class="list-group-item"><%= link_to "Buy Now", buy_path(product), class: "btn btn-primary" %></li>
</ul>
<hr/>
<%end%>
<hr/>
<strong>

<a href="/checkout">Checkout</a>